<h2 id="faq">Frequently Asked Questions</h2>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>Do the pocket guides include new ES6 methods?</strong></summary>
	<p>Yes. Where applicable, I cover new ES6 functions and browser APIs. I also include polyfills when available to push browser support as far back as possible.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>What happens if I buy a pocket guide and you release an update? Do I get free updates?</strong></summary>
	<p>Yes, you get free updates for life. You'll get an email letting you know whenever new content is available.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>Do you offer any discounts?</strong></summary>
	<p class="margin-bottom-small">Absolutely! There are three discount programs available:</p>
	<ol class="list-spaced">
		<li><strong>Student Discount.</strong> This applies to anyone in any type of schooling, including evening classes and coding bootcamps. <a href="/student-discount/">Learn more about student discounts.</a></li>
		<li><strong>Under-Represented Groups in Tech.</strong> I've had a lot of helping getting where I am, and I want to pay it forward. If you're a member of an under-represented group in tech, you can get special pricing. <a href="/underrepresented-group-discount/">Learn more about discounts for under-represented groups in tech.</a></li>
		<li><strong>Location-Based Pricing.</strong> I totally get that in some countries salaries and cost of living are such that the Vanilla JS Academy is unaffordable. Send me an email at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Academy:%20Exchange%20Rate&body=I%20live%20in%20a%20{country}.%20Can%20I%20have%20a%20discount%20to%20make%20the%20Vanilla%20JS%20Academy%20more%20affordable%20for%20me?%20Thanks!">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>, and I'll send you a discount to make it fair for where you live.</li>
	</ol>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>If I buy just one guide and love it, can I upgrade to a bundle? What if I buy the ebooks and decide I want the videos, too?</strong></summary>
	<p>Absolutely. Just send me an email at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Pocket%20Guides:%20Upgrade%20Request&body=I%20purchased%20just%20{title}%20and%20wanted%20to%20upgrade%20to%20{package}.%20Can%20you%20help?%20Thanks!">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a></p>
	<p>I'll upgrade you to the bundle or format you want. You'll only have to pay the difference in price between what you purchased and the bundle or format you want.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>How do I access my pocket guides and videos?</strong></summary>
	<p>Visit <a href="https://courses.gomakethings.com/join"></a> and create an account with the email address you used to make your purchase.</p>
	<p>You can download your guides at any time, and stream your video courses from any device. You can also download the videos for offline viewing.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>Do I need any special tools or equipment?</strong></summary>
	<p>All you need to work with the source code and projects is a modern web browser and a text editor (I recommend <a href="https://code.visualstudio.com/">VS Code</a>). The pocket guides come in PDF, EPUB, MOBI, and HTML formats, so you can read it on any device you own. The videos can be streamed on any device.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>Do I need any prior knowledge or experience to learn vanilla JavaScript?</strong></summary>
	<p>Ideally you're comfortable working with HTML and CSS already. Experience with another library or framework (like jQuery, React, and so on) is helpful but not required. If you're brand new to JavaScript, the guides are a great resource! If you have any specific questions, though, please email me at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Pocket%20Guides:%20General%20Questions">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>Are there any rules or requirements around the Slack team?</strong></summary>
	<p>Yes. You must be at least 18 years old, and read and agree to follow the <a href="https://courses.gomakethings.com/slack-guidelines/">Code of Conduct</a>.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>Do you have a return policy?</strong></summary>
	<p>Absolutely! If you’re not 100% satisfied with the pocket guide, email me at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Pocket%20Guides:%20Refund%20Request">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a> and I’ll give you a full refund.</p>
</details>

<details class="margin-bottom-medium">
	<summary class="margin-bottom-small"><strong>I have another question.</strong></summary>
	<p>No problem! Send me an email at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Pocket%20Guides:%20General%20Questions">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>