<h2>{{ if .Get "teams" }}Level-up your team{{ else }}Go{{ end }} from beginner{{ if .Get "teams" }}s{{ end }} to JavaScript expert{{ if .Get "teams" }}s{{ end }}</h2>

<ul>
	<li>Learn <strong>modern best practices</strong> and code patterns.</li>
	<li>Spend <strong>less time Googling</strong> and <strong>more time working on cool stuff</strong>.</li>
	<li>Get the <strong>skills and confidence</strong> to <em>really</em> understand JavaScript.</li>
	<li>Follow a <strong>learning path or jump around</strong> based on your needs.</li>
	<li><strong>Work on real projects</strong> and build your portfolio.</li>
</ul>