{{- $.Scratch.Set "products" .Site.Data.products -}}
{{- if .Get "package" -}}
	{{- if isset ($.Scratch.Get "products") (.Get "package") -}}
	{{- $product := index ($.Scratch.Get "products") (.Get "package") -}}
		{{- if isset $product "guides" -}}
			<ul>
			{{- range $id := index $product "guides" -}}
			{{- if isset ($.Scratch.Get "products") $id -}}
				{{- $guide := index ($.Scratch.Get "products") $id -}}
				<li>{{ $guide.title }}</li>
			{{- end -}}
			{{- end -}}
			</ul>
		{{- end -}}
	{{- end -}}
{{- end -}}