{{- $data := getJSON $.Site.Params.api -}}
{{ $product := $data.products.guideDetails }}
{{ if eq ( .Get "package" ) "bundles" }}
- **[The Complete Set.]({{ $product.complete.url }})** {{ $product.complete.description }}
- **[The Beginner's Bundle.]({{ $product.beginner.url }})** {{ $product.beginner.description }}
- **[The Advanced Bundle.]({{ $product.advanced.url }})** {{ $product.advanced.description }}
- **[The Expert Bundle.]({{ $product.expert.url }})** {{ $product.expert.description }}
{{ end }}

{{ if or ( eq ( .Get "package" ) "complete" ) ( eq ( .Get "package" ) "beginner" ) }}
0. **[DOM Manipulation.]({{ $product.domManipulation.url }})** {{ $product.domManipulation.description }}
0. **[Strings & Numbers.]({{ $product.stringsNumbers.url }})** {{ $product.stringsNumbers.description }}
0. **[Arrays & Objects.]({{ $product.arraysObjects.url }})** {{ $product.arraysObjects.description }}
0. **[Variables, Functions, and Scope.]({{ $product.variablesFunctionsScope.url }})** {{ $product.variablesFunctionsScope.description }}
0. **[DOM Injection and Traversal.]({{ $product.domInjectionTraversal.url }})** {{ $product.domInjectionTraversal.description }}
{{ end }}{{ if or ( eq ( .Get "package" ) "complete" ) ( eq ( .Get "package" ) "advanced" ) }}0. **[Browser Storage.]({{ $product.browserStorage.url }})** {{ $product.browserStorage.description }}
0. **[APIs & Asynchronous JS.]({{ $product.ajaxHttp.url }})** {{ $product.ajaxHttp.description }}
0. **[Writing Libraries.]({{ $product.writingPlugins.url }})** {{ $product.writingPlugins.description }}
0. **[ES Modules.]({{ $product.esModules.url }})** {{ $product.esModules.description }}
{{ end }}{{ if or ( eq ( .Get "package" ) "complete" ) ( eq ( .Get "package" ) "expert" ) }}0. **[State-Based UI.]({{ $product.stateBasedUI.url }})** {{ $product.stateBasedUI.description }}
0. **[Serverless.]({{ $product.serverless.url }})** {{ $product.serverless.description }}
0. **[Token-Based Authentication.]({{ $product.tokenBasedAuthentication.url }})** {{ $product.tokenBasedAuthentication.description }}
{{ end }}

{{ if eq ( .Get "package" ) "starter" }}
0. **[DOM Manipulation.]({{ $product.domManipulation.url }})** {{ $product.domManipulation.description }}
0. **[Arrays and Objects.]({{ $product.arraysObjects.url }})** {{ $product.arraysObjects.description }}
0. **[APIs & JavaScript.]({{ $product.ajaxHttp.url }})** {{ $product.ajaxHttp.description }}
{{ end }}