<p>
	<em><strong>Want to save 30% and get exclusive Slack access?</strong>
		{{ if eq ( .Get "upsell" ) "beginner" }}
			Get this pocket guide as part of the <a href="/complete-set/">Complete Set</a> or <a href="/beginner-bundle/">Beginner's&nbsp;Bundle</a>.
		{{ else if eq ( .Get "upsell" ) "advanced" }}
			Get this pocket guide as part of the <a href="/complete-set/">Complete Set</a> or <a href="/advanced-bundle/">Advanced&nbsp;Bundle</a>.
		{{ else if eq ( .Get "upsell" ) "expert" }}
			Get this pocket guide as part of the <a href="/complete-set/">Complete Set</a>.
		{{ end }}
	</em>
</p>