{{- $data := getJSON $.Site.Params.api -}}

{{- $product := index $data.products.guideDetails ( .Get "product" ) -}}
{{- $.Scratch.Set "price" $data.products.guides -}}
{{- $.Scratch.Set "type" "guides-individual" -}}
{{- if .Get "bundle" -}}
	{{- if eq ( .Get "bundle" ) "complete" -}}
		{{- $.Scratch.Set "price" $data.products.guidesComplete -}}
		{{- $.Scratch.Set "type" "guides-complete" -}}
	{{- else if eq ( .Get "bundle" ) "beginner" -}}
		{{- $.Scratch.Set "price" $data.products.guidesBeginner -}}
		{{- $.Scratch.Set "type" "guides-beginner" -}}
	{{- else if eq ( .Get "bundle" ) "advanced" -}}
		{{- $.Scratch.Set "price" $data.products.guidesAdvanced -}}
		{{- $.Scratch.Set "type" "guides-advanced" -}}
	{{- end -}}
{{- end -}}
{{- $price := ( $.Scratch.Get "price" ) -}}

{{- $apiPrices := index $data "prices" -}}
{{- $.Scratch.Set "apiPrice" "" -}}
{{- if isset $apiPrices ($.Scratch.Get "type") -}}
	{{- $.Scratch.Set "apiPrice" (index $apiPrices ($.Scratch.Get "type")) -}}
{{- end -}}
{{- $apiPrice := $.Scratch.Get "apiPrice" -}}

{{- $.Scratch.Set "apiDiscount" "" -}}
{{- if and (ne (.Scratch.Get "apiPrice") "") (isset (.Scratch.Get "apiPrice") "discount") -}}
	{{- .Scratch.Set "apiDiscount" (index (.Scratch.Get "apiPrice") "discount") -}}
{{- end -}}

<div class="row">
	<div class="grid-half margin-bottom-small">
		<a class="btn btn-large btn-block edd-buy-now-button" href='https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $product.id }}&edd_options[price_id]=1{{ if ne (.Scratch.Get "apiDiscount") "" }}&discount={{ .Scratch.Get "apiDiscount" }}{{ end }}'>Get the Ebook{{ if .Get "bundle" }}s{{ end }} - {{ if ne $apiPrice "" }}{{ index $apiPrice "ebook" | safeHTML }}{{ else }}{{ $price.ebook | safeHTML }}{{ end }}</a>
	</div>
	<div class="grid-half margin-bottom-small">
		<a class="btn btn-secondary btn-large btn-block edd-buy-now-button" href='https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $product.id }}&edd_options[price_id]=2{{ if ne (.Scratch.Get "apiDiscount") "" }}&discount={{ .Scratch.Get "apiDiscount" }}{{ end }}'>Get the Videos - {{ if ne $apiPrice "" }}{{ index $apiPrice "video" | safeHTML }}{{ else }}{{ $price.video | safeHTML }}{{ end }}</a>
	</div>
</div>

<p><a class="btn btn-tertiary btn-large btn-block edd-buy-now-button" href='https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $product.id }}&edd_options[price_id]=3{{ if ne (.Scratch.Get "apiDiscount") "" }}&discount={{ .Scratch.Get "apiDiscount" }}{{ end }}'>Get the Ebook{{ if .Get "bundle" }}s{{ end }} + Videos - {{ if ne $apiPrice "" }}{{ index $apiPrice "both" | safeHTML }}{{ else }}{{ $price.both | safeHTML }}{{ end }}</a></p>