<p>
	<em><strong>Want to save over 40% and get exclusive Slack access?</strong>
		{{ if eq ( .Get "upsell" ) "fundamentals" }}
			Get this pocket guide as part of the <a href="/complete-set/">Complete Set</a> or <a href="/fundamentals-bundle/">Fundamentals&nbsp;Bundle</a>.
		{{ else if eq ( .Get "upsell" ) "levelup" }}
			Get this pocket guide as part of the <a href="/complete-set/">Complete Set</a> or <a href="/level-up-bundle/">Level-Up&nbsp;Bundle</a>.
		{{ else if eq ( .Get "upsell" ) "complete" }}
			Get this pocket guide as part of the <a href="/complete-set/">Complete Set</a>.
		{{ end }}
	</em>
</p>