{{ if and (gt (now.Format "20060102") 20180329) (lt (now.Format "20060102") 20180727) }}
{{ if eq (.Get "for") "guide" }}
<p><mark>🔥 <em><strong>FIRE SALE!</strong> To celebrate the launch of the <strong><a href="https://vanillajsguides.com/variables-functions-and-scope/">Pocket Guide video series on Functions, Variables, and Scope</a></strong>, you can <strong>take 50% off any guide or bundle</strong> with the code <strong><code>VAR50</code></strong> at checkout. This ends at midnight, so don't wait!</em></mark></p>
{{ else if eq (.Get "for") "guide-buy" }}
<p><mark>🔥 <em><strong>FIRE SALE!</strong> Use the code <strong><code>VAR50</code></strong> at checkout to get 50% off. This ends at midnight, so don't wait!</em></mark></p>
{{ else if eq (.Get "for") "guides-all" }}
<p><mark>🔥 <em><strong>FIRE SALE!</strong> To celebrate the launch of the <strong><a href="https://vanillajsguides.com/variables-functions-and-scope/">Pocket Guide video series on Functions, Variables, and Scope</a></strong>, you can <strong>take 50% off any guide or bundle</strong> with the code <strong><code>VAR50</code></strong> at checkout. This ends at midnight, so don't wait!</em></mark></p>
{{ end }}
{{ else }}
{{ if eq (.Get "for") "guide" }}
<p><mark>🔥 <em><strong>New!</strong> Updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ else if eq (.Get "for") "guide-buy" }}
{{ else if eq (.Get "for") "guides-all" }}
<p class="padding-bottom"><mark>🔥 <em><strong>New!</strong> All of my pocket guides have been updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ end }}
{{ end }}

{{ if eq (.Get "for") "global" }}
	{{ partial "cta-global.html" }}
{{ end }}