{{ if and (gt (now.Format "20060102") 20180329) (lt (now.Format "20060102") 20180403) }}
{{ if eq (.Get "for") "guide" }}
<p><mark>🐰 <em><strong>Easter Sale!</strong> Now through Monday, get 50% off of my vanilla JS pocket guides. Make 2018 the year you master JavaScript!</em></mark></p>
{{ else if eq (.Get "for") "guide-buy" }}
<p><mark>🐰 <em><strong>Easter Sale!</strong> Use the code <code>HOP50</code> at checkout to get 50% off of my vanilla JS pocket guides. Make 2018 the year you master JavaScript!</em></mark></p>
{{ else if eq (.Get "for") "guides-all" }}
<p><mark>🐰 <em><strong>Easter Sale!</strong> Now through Monday, get 50% off of my vanilla JS pocket guides. Make 2018 the year you master JavaScript!</em></mark></p>
{{ end }}
{{ else }}
{{ if eq (.Get "for") "guide" }}
<p><mark>🔥 <em><strong>New!</strong> Updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ else if eq (.Get "for") "guide-buy" }}
{{ else if eq (.Get "for") "guides-all" }}
<p class="padding-bottom"><mark>🔥 <em><strong>New!</strong> All of my pocket guides have been updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ end }}
{{ end }}

{{ if eq (.Get "for") "global" }}
	{{ partial "cta-global.html" }}
{{ end }}