{{ if eq (.Get "for") "guide" }}
	{{ if ne .Site.Data.products.price.guides.special.start "" | and (ne .Site.Data.products.price.guides.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.guides.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.guides.special.end) }}
		{{ ( .Site.Data.products.price.guides.special.prices.ebook | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.guides.ebook | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "guide-complete" }}
	{{ if ne .Site.Data.products.price.guidesComplete.special.start "" | and (ne .Site.Data.products.price.guidesComplete.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.guidesComplete.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.guidesComplete.special.end) }}
		{{ ( .Site.Data.products.price.guidesComplete.special.prices.ebook | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.guidesComplete.ebook | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "guide-beginner" }}
	{{ if ne .Site.Data.products.price.guidesBeginner.special.start "" | and (ne .Site.Data.products.price.guidesBeginner.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.guidesBeginner.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.guidesBeginner.special.end) }}
		{{ ( .Site.Data.products.price.guidesBeginner.special.prices.ebook | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.guidesBeginner.ebook | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "guide-advanced" }}
	{{ if ne .Site.Data.products.price.guidesAdvanced.special.start "" | and (ne .Site.Data.products.price.guidesAdvanced.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.guidesAdvanced.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.guidesAdvanced.special.end) }}
		{{ ( .Site.Data.products.price.guidesAdvanced.special.prices.ebook | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.guidesAdvanced.ebook | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "call" }}
	{{ if ne .Site.Data.products.price.call.special.start "" | and (ne .Site.Data.products.price.call.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.call.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.call.special.end) }}
		{{ ( .Site.Data.products.price.call.special.price | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.call.price | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "mentoring" }}
	{{ if ne .Site.Data.products.price.mentoring.special.start "" | and (ne .Site.Data.products.price.mentoring.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.mentoring.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.mentoring.special.end) }}
		{{ ( .Site.Data.products.price.mentoring.special.price | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.mentoring.price | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "training" }}
	{{ if ne .Site.Data.products.price.training.special.start "" | and (ne .Site.Data.products.price.training.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.training.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.training.special.end) }}
		{{ ( .Site.Data.products.price.training.special.price | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.training.price | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "consulting" }}
	{{ if ne .Site.Data.products.price.consulting.special.start "" | and (ne .Site.Data.products.price.consulting.special.end "") | and (gt (now.Format "20060102") .Site.Data.products.price.consulting.special.start) | and (lt (now.Format "20060102") .Site.Data.products.price.consulting.special.end) }}
		{{ ( .Site.Data.products.price.consulting.special.price | safeHTML ) }}
	{{ else }}
		{{ ( .Site.Data.products.price.consulting.price | safeHTML ) }}
	{{ end }}
{{ else if eq (.Get "for") "career-guide" }}
{{ else if eq (.Get "for") "wicked-fast-websites" }}
{{ end }}