{{ $product := .Site.Data.products.productDetails }}
{{ if eq ( .Get "package" ) "bundles" }}
- **[The Complete Set.]({{ $product.complete.url }})** {{ $product.complete.description }}
- **[The Beginner's Bundle.]({{ $product.beginner.url }})** {{ $product.beginner.description }}
- **[The Advanced Bundle.]({{ $product.advanced.url }})** {{ $product.advanced.description }}
{{ end }}

{{ if or ( eq ( .Get "package" ) "complete" ) ( eq ( .Get "package" ) "beginner" ) }}
0. **[DOM Manipulation.]({{ $product.domManipulation.url }})** {{ $product.domManipulation.description }}
0. **[Strings, Arrays, and Objects.]({{ $product.stringArrayObject.url }})** {{ $product.stringArrayObject.description }}
0. **[Variables, Functions, and Scope.]({{ $product.variablesFunctionsScope.url }})** {{ $product.variablesFunctionsScope.description }}
0. **[DOM Injection and Traversal.]({{ $product.domInjectionTraversal.url }})** {{ $product.domInjectionTraversal.description }}
{{ end }}{{ if or ( eq ( .Get "package" ) "complete" ) ( eq ( .Get "package" ) "advanced" ) }}0. **[Browser Storage.]({{ $product.browserStorage.url }})** {{ $product.browserStorage.description }}
0. **[Ajax & HTTP.]({{ $product.ajaxHttp.url }})** {{ $product.ajaxHttp.description }}
0. **[Writing Plugins.]({{ $product.writingPlugins.url }})** {{ $product.writingPlugins.description }}
0. **[Web Apps.]({{ $product.webApps.url }})** {{ $product.webApps.description }}
{{ end }}