{{- $product := index .Site.Data.products.productDetails ( .Get "product" ) -}}
{{- $.Scratch.Set "price" .Site.Data.products.price.guides -}}
{{- if .Get "bundle" -}}
	{{- if eq ( .Get "bundle" ) "complete" -}}
		{{- $.Scratch.Set "price" .Site.Data.products.price.guidesComplete -}}
	{{- else if eq ( .Get "bundle" ) "beginner" -}}
		{{- $.Scratch.Set "price" .Site.Data.products.price.guidesBeginner -}}
	{{- else if eq ( .Get "bundle" ) "advanced" -}}
		{{- $.Scratch.Set "price" .Site.Data.products.price.guidesAdvanced -}}
	{{- end -}}
{{- end -}}
{{- $price := ( $.Scratch.Get "price" ) -}}

<div class="row">
	<div class="grid-half margin-bottom-small">
		<a class="btn btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $product.id }}&edd_options[price_id]=1">Get the Ebook{{ if .Get "bundle" }}s{{ end }} - <span data-price="guides-{{ if .Get "bundle" }}{{ .Get "bundle" }}{{ else }}individual{{ end }}" data-product="ebook">{{ ( $price.ebook | safeHTML ) }}</span></a>
	</div>
	<div class="grid-half margin-bottom-small">
		<a class="btn btn-secondary btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $product.id }}&edd_options[price_id]=2">Get the Videos - <span data-price="guides-{{ if .Get "bundle" }}{{ .Get "bundle" }}{{ else }}individual{{ end }}" data-product="video">{{ ( $price.video | safeHTML ) }}</span></a>
	</div>
</div>

<p><a class="btn btn-tertiary btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $product.id }}&edd_options[price_id]=3">Get the Ebook{{ if .Get "bundle" }}s{{ end }} + the Videos - <span data-price="guides-{{ if .Get "bundle" }}{{ .Get "bundle" }}{{ else }}individual{{ end }}" data-product="both">{{ ( $price.both | safeHTML ) }}</span></a></p>