{{- $product := index .Site.Data.products.teamLicense ( .Get "product" ) -}}
{{- $.Scratch.Set "type" ( printf "guides-%s" ( .Get "product" ) ) -}}


{{- $data := getJSON $.Site.Params.api -}}
{{- $apiPrices := index $data "prices" -}}
{{- $apiPrice := "" -}}
{{- if isset $apiPrices ($.Scratch.Get "type") -}}
	{{- $apiPrice := index $apiPrices ($.Scratch.Get "type") -}}
{{- end -}}

## Team License

Want to share these guides and videos with your team? A team license gives access to a group of people at a steep discount.

Team Licenses include everything in the ebook and video package. Perfect for bringing junior developers and new hires up to speed.

<div class="row margin-bottom">
	{{- range $index, $price := index $product "price" -}}

	{{- $.Scratch.Set "product" ( printf "team%d" $price.people ) -}}
	{{- $apiProductPrice := "" -}}
	{{- if isset $apiPrices ($.Scratch.Get "product") -}}
		{{- $apiProductPrice := index $apiPrices ($.Scratch.Get "product") -}}
	{{- end -}}

	<div class="grid-third">
		<a class="btn btn-large btn-block margin-bottom-small edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $product.id }}&edd_options[price_id]={{ add $index 1 }}">{{ $price.people }} People - {{ if ne $apiProductPrice "" }}{{ $apiProductPrice | safeHTML }}{{ else }}{{ $price.price | safeHTML }}{{ end }}</a>
	</div>
	{{- end -}}
</div>

<p class="text-small"><em>Licenses don't expire, and can be filled whenever you want. They cannot be transferred or resold.</em></p>